.main {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  max-width: 1440px;
  margin: 0 auto;
  gap: 20px;
  height: max-content;

  .options{
    border: 1px solid orange;
  }

  .dropzone{
    border: 1px solid red;
    min-height: 100px;
  }

  .sideBar{
    border: 1px solid blue;
    height: 100%;
  }
}

